.Button {
    cursor: pointer;
    color: var(--ptimary-color);
    width: fit-content;
    height: fit-content;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}
